apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
    - ../../base
patches:
    - path: patches/deployment.yaml
      target:
          group: apps
          kind: Deployment
          version: v1
          name: home-api
