apiVersion: apps/v1
kind: Deployment
metadata:
    name: n8n
spec:
    selector:
        matchLabels:
            app: n8n
    template:
        metadata:
            labels:
                app: n8n
        spec:
            containers:
                - name: n8n
                  image: docker.n8n.io/n8nio/n8n:latest
                  env:
                      - name: DB_TYPE
                        value: postgresdb
                      - name: DB_POSTGRESDB_HOST
                        value: localhost
                      - name: DB_POSTGRESDB_PORT
                        value: "5432"
                      - name: DB_POSTGRESDB_DATABASE
                        value: n8n
                      - name: DB_POSTGRESDB_USER
                        value: n8n
                      - name: DB_POSTGRESDB_PASSWORD
                        value: n8npass
                      - name: GENERIC_TIMEZONE
                        value: America/New_York
                      - name: N8N_HOST
                        value: 0.0.0.0
                      - name: N8N_PORT
                        value: "5678"
                      - name: WEBHOOK_TUNNEL_URL
                        value: "http://n8n.kwkc.xyz:30080"
                      - name: N8N_SECURE_COOKIE
                        value: "false"
                      - name: N8N_LICENSE_ACTIVATION_KEY
                        value: "e47d4809-ae36-4932-8685-8a9826563818"
                  resources:
                      limits:
                          memory: "1024Mi"
                          cpu: "500m"
                      requests:
                          memory: "512Mi"
                          cpu: "256m"
                  volumeMounts:
                      - mountPath: /home/node/.n8n
                        name: n8n-nfs-mount
                  ports:
                      - containerPort: 80
                - name: postgres
                  image: postgres:15
                  env:
                      - name: POSTGRES_DB
                        value: n8n
                      - name: POSTGRES_USER
                        value: n8n
                      - name: POSTGRES_PASSWORD
                        value: n8npass
                  ports:
                      - containerPort: 5432
                  resources:
                      limits:
                          cpu: 512m
                          memory: 256Mi
                      requests:
                          cpu: 256m
                          memory: 128Mi
                  volumeMounts:
                      - mountPath: /var/lib/postgresql/data
                        name: pgsql-nfs-mount
            volumes:
                - name: pgsql-nfs-mount
                  nfs:
                      server: k8s-master.kwkc.home
                      path: /mnt/postgres
                      readOnly: false
                - name: n8n-nfs-mount
                  nfs:
                      server: k8s-master.kwkc.home
                      path: /mnt/n8n
                      readOnly: false
