# apiVersion: apps/v1
# kind: Deployment
# metadata:
#     name: postgres
#     namespace: default
# spec:
#     replicas: 1
#     selector:
#         matchLabels:
#             app: postgres
#     template:
#         metadata:
#             labels:
#                 app: postgres
#         spec:
#             containers:
#                 - name: postgres
#                   image: postgres:15
#                   env:
#                       - name: POSTGRES_DB
#                         value: n8n
#                       - name: POSTGRES_USER
#                         value: n8n
#                       - name: POSTGRES_PASSWORD
#                         value: n8npass
#                   ports:
#                       - containerPort: 5432
#                   resources:
#                       limits:
#                           cpu: 512m
#                           memory: 256Mi
#                       requests:
#                           cpu: 256m
#                           memory: 128Mi
#                   volumeMounts:
#                       - mountPath: /var/lib/postgresql/data
#                         name: pgsql-nfs-mount
#             volumes:
#                 - name: pgsql-nfs-mount
#                   nfs:
#                       server: k8s-master.kwkc.home
#                       path: /mnt/postgres
#                       readOnly: false
# ---
# apiVersion: v1
# kind: Service
# metadata:
#     name: postgres
#     namespace: default
# spec:
#     type: ClusterIP
#     selector:
#         app: postgres
#     ports:
#         - port: 5432
